*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

header{
  background-color: white;
}

header .menu{
  width: 100%;
  background-color: white;
  transition: 2s;
  z-index: 999;
}

header .menu .interno{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
}

header .menu h4{
  font-size: 30px;
  font-style: bold;
  color: #015958;
}

header .menu ul{
  display: flex;
  list-style-type: none;
}

header .menu ul li{
  margin: 0 10px;
}

header .menu ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #008F8C;
}

header .menu ul li a:hover{
  text-decoration: underline;
}

header .menu button{
  background-color: #008F8C;
  color: white;
  padding: 10px 40px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

header .banner{
  width: 90%;
  margin: 60px auto;
  display: flex;
  padding: 120px 0;
}

header .banner .esquerda{
  width: 50%;
}

header .banner h1{
  font-size: 50px;
  margin-bottom: 20px;
}

header .banner span{
  color: #008F8C;
}

header .banner p{
  font-style: italic;
  color: #015958;
  font-size: 22px;
  font-weight: 600;
}

header .banner .direita{
  width: 50%;
}

header .direita .card{
  width: 100%;
  -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  border-radius: 10px;
  padding: 50px 40px;
  padding-bottom: 70px;
}
header .direita .card h3{
  font-size: 32px;
  margin-bottom: 20px;
}

header .card p{
  color: rgb(255, 61, 61);
  margin-bottom: 20px;
}

header .card span{
  font-size: 20px;
  color: rgb(255, 61, 61);
  text-decoration: line-through;
}

header .direita .card h2{
  font-size: 40px;
  margin-bottom: 25px;
}

header .direita .card button{
  font-size: 30px;
  background-color: #008F8C;
  color: white;
  border: none;
  padding: 6px 50px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

main{
  background-color: white;
  margin: 0 auto;
}

main .title{
  text-align: center;
}

main .title h2{
  font-size: 50px;
}

main .title h3{
  font-style: italic;
  color: #015958;
  font-size: 22px;
  font-weight: 600;
}

main .secaoDeCursos{
  width: 100%;
  padding: 120px 0;
  padding-bottom: 0;
  position: relative;
}

.arrows{
  font-size: 50px;
  color: #015958;
  background-color: red;
}

.arrow1{
  position: absolute;
  left: 40px;
  top: 50%;
  cursor: pointer;
}

.arrow2{
  position: absolute;
  right: 40px;
  top: 50%;
  cursor: pointer;
}

main .secaoDeCursos .swiper-wrapper{
  width: 85%;
  margin: 0 auto;
  padding: 80px 0;
}

main .secaoDeCursos .swiper-slide{
  width: 1%;
  padding: 20px;
  margin: 0 1%;
  cursor: pointer;
}

main .secaoDeCursos .swiper-slide .imagem{
  width: 100%;
  padding-top: 250px;
  background-position: center;
  background-size: cover;

}

main .secaoDeCursos .swiper-slide:hover{
  padding: 22px 20px;
  -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  border-radius: 8px;
  transition: 0.5s;
}

main .secaoDeCursos .swiper-slide h2{
  font-size: 22px;
  margin-bottom: 10px;
}

main .secaoDeCursos .swiper-slide h3{
  font-size: 18px;
  color: #015958;
  margin-bottom: 5px;
}

main .secaoDeCursos .swiper-slide h4{
  font-size: 14px;
  font-weight: 400;
}

main .mentores{
  width: 100%;
  padding: 120px 0;
  padding-bottom: 20px;
}

main .sobParte{
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 120px;

}

main .sobParte .esquerda{
  width: 50%;
  text-align: center;
}

main .sobParte .esquerda img{
  width: 300px;
  margin: 0 auto;
}

main .sobParte .direita{
  width: 50%;
}

main .sobParte h2{
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 12px;
}

main .sobParte h3{
  color: #015958;
  width: 60%;
  margin-bottom: 12px;
}

main .sobParte button{
  padding: 10px 30px;
  background-color: #008F8C;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
main .mentores .subParte{
  max-width: 900px;
  margin: 30px auto;
  -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  border-radius: 8px;
  padding: 40px;
}

main .mentores .subParte h3{
  font-size: 34px;
  color: #015958;
  margin-bottom: 20px;
}

main .mentores .subParte p{
  width: 50%;
}

main .salario{
  width: 100%;
  background-color: #0fc2bf2f;
  margin: 40px 0;
}

main .salario .cor{
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 120px 0;
}

main .salario .cor .esquerda{
  width: 50%;
}

main .salario .cor .direita{
  width: 50%;
}

main .salario .cor .direita h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
}

main .salario .cor .direita h4{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

main .salario .cor .direita h3{
  font-size: 40px;
  font-weight: 600;
  color: rgb(114, 114, 114);
  margin-bottom: 12px;
}

main .salario .cor .direita button{
  background-color: #008F8C;
  color: white;
  padding: 15px 40px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

main .depoimentos{
  width: 90%;
}

main .depoimentos .depoimento{
  width: 30%;

}

main .apps{
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
}

main .apps .esquerda{
  width: 50%;
}

main .apps .esquerda p{
  font-size: 20px;
  font-style: bolder;
  text-align: center;
}

main .apps .direita{
  width: 50%;
  display: flex;
}

main .apps .direita .google{
  width: 250px;
  padding-top: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main .apps .direita .apple{
  width: 250px;
  padding-top: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 40px;
}

main .promocao{
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
}

main .promocao .cards{
  display: flex;
  width: 800px;
  margin: 0 auto;
}

main .promocao .card{
  width: 400px;
  -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
  text-align: center;
  border-radius: 8px;
  padding: 60px 40px;
  background-color: white;
  text-align: center;
}

main .promocao .card .titulo{
  margin-bottom: 10px;
}

main .promocao .conteudo .dois{
  margin-bottom: 30px;
}

main .promocao .conteudo p{
  font-size: 22px;
  margin-bottom: 10px;
}

main .promocao .conteudo p span{
  font-size: 36px;
  font-weight: bold;
}

main .promocao button{
  margin-bottom: 50px;
}

main .promocao .card .option{
  margin-bottom: 20px;
  display: flex;
}

main .promocao .card .option .check{
  width: 20px;
  height: 20px;
  background-color: #008F8C;
  border-radius: 50%;
  margin-right: 10px;
}

main .promocao .card .option2 .nocheck{
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

main .promocao .card .option2{
  margin-bottom: 20px;
  display: flex;
}

main .promocao .big{
  margin-left: -5px;
  border: 3px solid #015958;
}

main .promocao .card h3{
  color: #015958;
}

main .promocao .card p{
  text-align: left;
}

main .promocao .card button{
  border: 3px solid #008F8C;
  color: #008F8C;
  padding: 10px 50px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

main .metodologia{
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 120px 0;
}

.sticky2 {
  position: fixed;
  top: 0;
  left: 0;
}

main .metodologia .esquerda{
  width: 50%;
}

main .metodologia .direita{
  width: 50%;
}

main .metodologia h4{
  font-size: 22px;
  color: #015958;
}

main .metodologia h2{
  font-size: 40px;
}

main .metodologia .bloco{
  width: 80%;
  padding: 20px;
  border: 2px solid #008F8C;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

main .metodologia .bloco p{
  font-size: 20px;
}

main .metodologia .bloco span{
  font-size: 24px;
  color: #015958;
}

main .perguntasFrequentes{
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
}

main .perguntasFrequentes .titulo{
  width: 410px;
  margin: 0 auto;
}

main .perguntasFrequentes h4{
  font-size: 22px;
  color: #015958;
}

main .perguntasFrequentes h2{
  font-size: 40px;
}